main{
    background-color:rgba(255,255,255,0.4);
}
/* Introduction*/

#profilephoto{
    max-height: 284px;
    max-width: 300px;
    height:auto;
    width:auto;
    border-style: ridge;
    border-radius: 15px;
    border-width:6px;
    display:block;
    margin:0px auto;
}
/* Education */
.pointer{
    display:block;
    margin:auto;
}
.ngeeann:hover{
    cursor:pointer;
}
.education-photo img{
    max-height:200px;
    max-width:200px;
    display:block;
    margin:0px auto;
    border-style: ridge;
    border-radius: 15px;
    border-width:6px;
    height:200px;
    width:200px;
}
.rss:hover{
    cursor:pointer;
}

/* Contact Social network icons */
.contact nav {
  display: flex;
  justify-content: center;
}
.contact nav ul {
  list-style: none;
  padding: 0px;
  margin: 5px;
}
.contact nav ul li {
  display: inline-block;
}
.contact nav ul li a img {
  max-height: 25px;
  height: 100%;
  width: auto;
  margin: 0px 10px;
}
.contact nav ul li a img:hover {
  max-height: 35px;
  height: 100%;
  width: auto;
}
/* Contact information */
.contact div p{
    font-size:medium;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
}