main{
    min-height:100%;
    background-color:rgba(255,255,255,0.55);
}


/* Skills */
.skill h3 {
    text-align: left;
    margin: 0px 5%;
    margin-top: 20px;
  }
  .skill h4 {
    text-align: left;
    margin: 0px 5%;
    margin-top: 20px;
  }
  .skill-mastery {
    border-style: solid;
    border-width: 2px;
    width: 90%;
    margin: 12px auto;
  }
  .skill-mastery p {
    margin: 0px;
  }
  .skill-mastery:hover {
    width: 95%;
    margin: 0px auto;
  }
  .skill-mastery:hover p {
    padding: 5px;
  }
  .basic {
    background-color: lightblue;
    width: 25%;
  }
  .intermediate {
    background-color: lightyellow;
    width: 50%;
  }
  .advance {
    background-color: pink;
    width: 75%;
  }
  /* Well-experience is a level I
  wish to hone my skill to */
  /* 95% cause there will always be some room
  to improve my skills */
  .wellExperience {
    background-color: lightgreen;
    width: 95%;
  }